# Тема “Вычисления с помощью Numpy”

## Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 

Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 

Будем считать, что каждый столбец - это признак, а строка - наблюдение. 

Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 

Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [67]:
import numpy as np 

a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a.

Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [ ]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

## Задание 3
Найдите скалярное произведение столбцов массива a_centered. 

В результате должна получиться величина a_centered_sp. 

Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [ ]:
a_centered_sp = a_centered[:,0] @ a_centered[:,1]
a_centered_sp / (a.shape[0] - 1)

2.0

## Задание 4**
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. 

В задании 3 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. 

В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [ ]:
m = a.T
np.cov(m)[0,1]

2.0

# Тема “Работа с данными в Pandas”

## Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 

Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].


Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [ ]:
import pandas as pd 

authors = pd.DataFrame({
    "author_id": [1,2,3],
    "author_name": ['Тургенев', 'Чехов', 'Островский'] 
                        })

books = pd.DataFrame({
    "author_id": [1,1,1,2,2,3,3],
    "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    "price": [450, 300, 350, 500, 450, 370, 290]
})

## Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [ ]:
authors_price = pd.merge(authors, books, on="author_id", how="right")
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [23]:
top5 = authors_price.sort_values(by="price", inplace=False, ignore_index=True, ascending=False).head()
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. 

В датафрейме authors_stat должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [62]:
author_stat = pd.DataFrame({
    "max_price": authors_price.groupby("author_name").agg({"price": "max"}).iloc[:,0],
    "min_price": authors_price.groupby("author_name").agg({"price": "min"}).iloc[:,0],
    "mean_price": authors_price.groupby("author_name").agg({"price": "mean"}).iloc[:,0],
})
author_stat

             max_price  min_price  mean_price
author_name
Островский         370        290  330.000000
Тургенев           450        300  366.666667
Чехов              500        450  475.000000

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. 
В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.  Используйте для этого функцию pd.pivot_table. 

При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [79]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
pd.pivot_table?

   author_id author_name            book_title  price    cover
6          3  Островский  Таланты и поклонники    290  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
5          3  Островский                 Гроза    370  твердая
0          1    Тургенев           Отцы и дети    450  твердая
4          2       Чехов       Дама с собачкой    450   мягкая
3          2       Чехов      Толстый и тонкий    500   мягкая

In [85]:
book_info = authors_price.pivot_table("price", index="author_name", columns="cover", fill_value = 0, aggfunc=np.sum)
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")
book_info2

cover        мягкая  твердая
author_name
Островский        0      660
Тургенев        650      450
Чехов           950        0